/* Reseteos */
* {
    box-sizing: border-box;
}

/* Variables de CSS */
:root {
    --tipo-letra: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --fondo: white;
    --fondo-suave: lightgray;
    --tinta: black;
    --espacio: .5rem;
    --espacio-pequeno: calc(var(--espacio) / 2);
    --enlace: #00006f;
    --borde: 1px solid darkgray;
    --sombra: var(--espacio-pequeno) var(--espacio-pequeno) .5rem rgba(0, 0, 0, 0.5);
}

/* Características generales */

body {
    font-family: var(--tipo-letra);

    margin: 0;

    background-color: var(--fondo);
    color: var(--tinta);
}

h2 {
    text-align: center;

    background-color: var(--fondo-suave);
    margin: calc(-1 * var(--espacio))
}

h3 {
    font-variant: small-caps;
    border-bottom: 1px solid black;
}

a {
    text-decoration: none;
    color: var(--enlace);

    &:hover {
        text-decoration: underline;
    }
}

p {
    line-height: calc(1rem + var(--espacio));
}

.marcado {
    text-decoration: underline;
}

pre {
    border: var(--borde);
    padding: var(--espacio);
    border-radius: var(--espacio-pequeno);
    background-color: var(--fondo-suave);
    box-shadow: var(--sombra);
}

li>ol>li {
    list-style: lower-alpha;
}

dt {
    font-weight: bold;
}

dd {
    margin: var(--espacio) 0;

    &::before {
        content: '- '
    }
}

table {
    width: 100%;

    box-shadow: var(--sombra);

    border-collapse: collapse;

    & caption {
        box-shadow: var(--sombra);
    }

    & caption,
    & thead,
    & tfoot {
        background-color: var(--fondo-suave);
        font-weight: bold;
    }

    & caption,
    & th,
    & td {
        border: 1px solid darkgray;
        padding: var(--espacio-pequeno);
        text-align: left;
    }
}

fieldset {
    border: 1px solid lightgray;
    border-radius: var(--espacio-pequeno);

    & legend {
        font-weight: bold;
    }

    & label,
    & input,
    & select,
    & textarea,
    & button,
    & input[type=file]::file-selector-button {
        margin: var(--espacio-pequeno) 0;
        padding: var(--espacio-pequeno);
        border-radius: var(--espacio-pequeno);

        width: 100%;
    }

    & input,
    & select,
    & textarea,
    & button,
    & input[type=file]::file-selector-button {
        border: 1px solid lightgray;
    }

    & input[type=checkbox],
    & input[type=radio],
    & input[type=file]::file-selector-button {
        width: auto;
    }

    & button,
    & input[type=submit],
    & input[type=reset],
    & input[type=file]::file-selector-button {
        background-color: var(--enlace);
        color: var(--fondo);
    }
}


/* Elementos multimedia adaptativos */

.aspecto {
    position: relative;
    height: 0;
    margin-bottom: calc(var(--espacio) * 2);
}

.aspecto iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.a1x1 {
    padding-bottom: 100%;
}

.a4x3 {
    padding-bottom: calc((3/4) * 100%);
}

.a16x9 {
    padding-bottom: calc((9/16) * 100%);
}

/* Estructura */

#html {

    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        &::before {
            content: '<';
        }

        &::after {
            content: '>';
        }
    }

}

h1,
footer {
    background-color: var(--tinta);
    color: var(--fondo);

    font-variant: small-caps;

    margin: 0;
    padding: var(--espacio);

    text-align: center;
}

body>nav {
    background-color: var(--enlace);

    & ul {
        list-style: none;

        text-align: center;
        padding: 0;
        margin: 0;
    }

    & a {
        display: inline-block;

        width: 100%;
        color: var(--fondo);
        padding: var(--espacio);
        border: var(--espacio-pequeno) solid var(--enlace);

        &:hover {
            text-decoration: none;
            color: var(--enlace);
            background-color: var(--fondo);
        }
    }
}

main {
    padding: var(--espacio);
}

#parrafos {
    & pre {
        overflow: auto;
    }
}

#tablas table {

    & :first-child:not(caption),
    & :last-child,
    & tfoot :nth-child(2) {
        text-align: right;
    }
}

#multimedia {
    & figure {
        margin: 0;
    }

    & figure,
    & img,
    & audio,
    & video,
    & iframe {
        width: 100%;

        margin: var(--espacio) 0;
        padding: var(--espacio);
        border-radius: var(--espacio-pequeno)
    }

    & figure,
    & video,
    & iframe {
        box-shadow: var(--sombra);
        border: 1px solid lightgray;
    }
}

aside {
    background-color: var(--fondo-suave);

    padding: var(--espacio-pequeno);

    & ul {
        padding-left: 0;
    }

    & li {
        list-style: none;
    }

    & a {
        display: inline-block;
        padding: var(--espacio-pequeno);
    }

    text-align: center;
}

#arriba {
    position: fixed;
    z-index: 1;

    display: inline-block;
    bottom: 1rem;
    right: 1rem;

    color: var(--fondo);
    background-color: var(--enlace);
    border: 1px solid lightgray;
    border-radius: var(--espacio);
    padding: var(--espacio-pequeno);
    box-shadow: var(--sombra);
}

@media (min-width: 768px) {
    body>nav {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    body>nav ul {
        display: flex;
    }

    #parrafos,
    #listas,
    #formularios,
    #formularios>:last-child>fieldset,
    aside ul {
        display: flex;
        flex-wrap: wrap;

        gap: var(--espacio);
    }

    #parrafos>* {
        width: calc(50% - var(--espacio));
    }

    #listas>* {
        width: calc(100%/3 - var(--espacio));
    }

    #formularios>form:first-of-type,
    #formularios>form:nth-of-type(2) {
        width: calc(50% - var(--espacio));
    }

    #formularios>:first-child div {
        display: flex;

        & label {
            width: 7rem;
        }
    }

    #formularios>:last-child {
        align-items: flex-start;
    }

    #formularios>:last-child>fieldset {
        &>* {
            width: calc(100%/3 - var(--espacio) * 2);
        }

        &>[type=radio],
        &>[type=checkbox] {
            width: auto;
        }

        &>[type=submit],
        &>[type=reset],
        &>button {
            width: calc(100%/2 - var(--espacio));
        }
    }

    h3 {
        width: 100% !important;
    }

    aside ul {
        justify-content: space-around;
    }

    #arriba {
        display: none;
    }
}

@media (min-width: 1024px) {
    #html {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--espacio);

        & h2, & #parrafos, & #multimedia, & #formularios {
            grid-column: span 2;
        }
    }

    #multimedia {
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        & h3, & audio {
            grid-column: span 2;
        }

        & .aspecto:last-of-type {
            grid-row-start: 2;
            grid-column-start: 2
        }

        & .aspecto:nth-of-type(2) {
            grid-column-start: 2;
            grid-row-start: 4;
        }

        & .aspecto:first-of-type {
            grid-column: span 2;
        }
    }
}